{% extends 'core/base.html' %}

{% load static %}

{% block content %}

  {% if item_adicionado != None %}
    <div id="alert_item_adicionado" class="alert alert-success mt-4" role="alert">
        {{ itemCardapio.nome }} adicionado ao carrinho.
    </div>
  {% endif %}

  <div class="mt-4 d-flex flex-row">
    <div class="w-50">
      <img src="{{ itemCardapio.foto.url }}" class="w-100">
    </div>
    <div class="w-50 ms-4">
      <h4 class="mt-4">{{ itemCardapio.nome }}</h4>
      <h5 class="mt-4 mb-4">Valor: R$ {{ itemCardapio.valor }}</h5>
      <pre>{{ itemCardapio.descricao }}</pre>
      <a href="item_detalhes?id={{ id }}&item_adicionado={{ itemCardapio.nome }}" class="btn btn-success mb-2">
        <img src="{% static 'core/images/icons/cart-plus.svg' %}" width="20" height="20" title="cart">
      </a>
    </div>
  </div>

{% endblock %}
